# Data Visulaization

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("covid_19_country_wise_latest.csv", index_col=0)
df.head()

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106.0,10.0,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117.0,6.0,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616.0,8.0,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10.0,0.0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18.0,1.0,0,4.32,25.47,16.94,749,201,26.84,Africa

In [2]:
df.index.name = "index"
df.head()

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
index,,,,,,,,,,,,,,,
0,Afghanistan,36263,1269,25198,9796,106.0,10.0,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117.0,6.0,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616.0,8.0,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10.0,0.0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18.0,1.0,0,4.32,25.47,16.94,749,201,26.84,Africa

In [3]:
def upd_col_names(df):
    df.columns = df.columns.str.replace(r"\s+", "_", regex=True)
    return df

df = pd.read_csv("covid_19_country_wise_latest.csv")
df = upd_col_names(df)
df.head()

,Unnamed:_0,Country/Region,Confirmed,Deaths,Recovered,Active,New_cases,New_deaths,New_recovered,Deaths_/_100_Cases,Recovered_/_100_Cases,Deaths_/_100_Recovered,Confirmed_last_week,1_week_change,1_week_%_increase,WHO_Region
0,0,Afghanistan,36263,1269,25198,9796,106.0,10.0,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,1,Albania,4880,144,2745,1991,117.0,6.0,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,2,Algeria,27973,1163,18837,7973,616.0,8.0,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,3,Andorra,907,52,803,52,10.0,0.0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,4,Angola,950,41,242,667,18.0,1.0,0,4.32,25.47,16.94,749,201,26.84,Africa

In [4]:
# 5. Check Basic Information → Find column names, data types, and missing values.
print("Column Names:\n", df.columns)

print("Data Types:\n", df.dtypes)

print("Missing Values:\n", df.isnull().sum())

print("Basic Information:\n", df.info)

Column Names:
 Index(['Unnamed:_0', 'Country/Region', 'Confirmed', 'Deaths', 'Recovered',
       'Active', 'New_cases', 'New_deaths', 'New_recovered',
       'Deaths_/_100_Cases', 'Recovered_/_100_Cases', 'Deaths_/_100_Recovered',
       'Confirmed_last_week', '1_week_change', '1_week_%_increase',
       'WHO_Region'],
      dtype='object')
Data Types:
 Unnamed:_0                  int64
Country/Region             object
Confirmed                   int64
Deaths                     object
Recovered                   int64
Active                      int64
New_cases                 float64
New_deaths                float64
New_recovered               int64
Deaths_/_100_Cases        float64
Recovered_/_100_Cases     float64
Deaths_/_100_Recovered    float64
Confirmed_last_week         int64
1_week_change               int64
1_week_%_increase         float64
WHO_Region                 object
dtype: object
Missing Values:
 Unnamed:_0                 0
Country/Region             0
Confirmed                  0
Deaths                     0
Recovered                  0
Active                     0
New_cases                 10
New_deaths                10
New_recovered              0
Deaths_/_100_Cases         0
Recovered_/_100_Cases      0
Deaths_/_100_Recovered     0
Confirmed_last_week        0
1_week_change              0
1_week_%_increase          0
WHO_Region                 0
dtype: int64
Basic Information:
 <bound method DataFrame.info of      Unnamed:_0      Country/Region  Confirmed Deaths  Recovered  Active  \
0             0         Afghanistan      36263   1269      25198    9796
1             1             Albania       4880    144       2745    1991
2             2             Algeria      27973   1163      18837    7973
3             3             Andorra        907     52        803      52
4             4              Angola        950     41        242     667
..          ...                 ...        ...    ...        ...     ...
182         182  West Bank and Gaza      10621     78       3752    6791
183         183      Western Sahara         10      1          8       1
184         184               Yemen       1691    483        833     375
185         185              Zambia       4552    140       2815    1597
186         186            Zimbabwe       2704    non        542    2126

     New_cases  New_deaths  New_recovered  Deaths_/_100_Cases  \
0        106.0        10.0             18                3.50
1        117.0         6.0             63                2.95
2        616.0         8.0            749                4.16
3         10.0         0.0              0                5.73
4         18.0         1.0              0                4.32
..         ...         ...            ...                 ...
182      152.0         2.0              0                0.73
183        0.0         0.0              0               10.00
184       10.0         4.0             36               28.56
185       71.0         1.0            465                3.08
186      192.0         2.0             24                1.33

     Recovered_/_100_Cases  Deaths_/_100_Recovered  Confirmed_last_week  \
0                    69.49                    5.04                35526
1                    56.25                    5.25                 4171
2                    67.34                    6.17                23691
3                    88.53                    6.48                  884
4                    25.47                   16.94                  749
..                     ...                     ...                  ...
182                  35.33                    2.08                 8916
183                  80.00                   12.50                   10
184                  49.26                   57.98                 1619
185                  61.84                    4.97                 3326
186                  20.04                    6.64                 1713

     1_week_change  1_week_%_increase             WHO_Region
0              737               2.07  Eastern Mediterranean
1              709              17.00                 Europe
2             4282              18.07                 Africa
3               23               2.60                 Europe
4              201              26.84                 Africa
..             ...                ...                    ...
182           1705              19.12  Eastern Mediterranean
183              0               0.00                 Africa
184             72               4.45  Eastern Mediterranean
185           1226              36.86                 Africa
186            991              57.85                 Africa

[187 rows x 16 columns]>

In [5]:
# 6. fill the nan values with the mean of the column
df = df.fillna(df.mean(numeric_only=True))
print(df)

     Unnamed:_0      Country/Region  Confirmed Deaths  Recovered  Active  \
0             0         Afghanistan      36263   1269      25198    9796
1             1             Albania       4880    144       2745    1991
2             2             Algeria      27973   1163      18837    7973
3             3             Andorra        907     52        803      52
4             4              Angola        950     41        242     667
..          ...                 ...        ...    ...        ...     ...
182         182  West Bank and Gaza      10621     78       3752    6791
183         183      Western Sahara         10      1          8       1
184         184               Yemen       1691    483        833     375
185         185              Zambia       4552    140       2815    1597
186         186            Zimbabwe       2704    non        542    2126

     New_cases  New_deaths  New_recovered  Deaths_/_100_Cases  \
0        106.0        10.0             18                3.50
1        117.0         6.0             63                2.95
2        616.0         8.0            749                4.16
3         10.0         0.0              0                5.73
4         18.0         1.0              0                4.32
..         ...         ...            ...                 ...
182      152.0         2.0              0                0.73
183        0.0         0.0              0               10.00
184       10.0         4.0             36               28.56
185       71.0         1.0            465                3.08
186      192.0         2.0             24                1.33

     Recovered_/_100_Cases  Deaths_/_100_Recovered  Confirmed_last_week  \
0                    69.49                    5.04                35526
1                    56.25                    5.25                 4171
2                    67.34                    6.17                23691
3                    88.53                    6.48                  884
4                    25.47                   16.94                  749
..                     ...                     ...                  ...
182                  35.33                    2.08                 8916
183                  80.00                   12.50                   10
184                  49.26                   57.98                 1619
185                  61.84                    4.97                 3326
186                  20.04                    6.64                 1713

     1_week_change  1_week_%_increase             WHO_Region
0              737               2.07  Eastern Mediterranean
1              709              17.00                 Europe
2             4282              18.07                 Africa
3               23               2.60                 Europe
4              201              26.84                 Africa
..             ...                ...                    ...
182           1705              19.12  Eastern Mediterranean
183              0               0.00                 Africa
184             72               4.45  Eastern Mediterranean
185           1226              36.86                 Africa
186            991              57.85                 Africa

[187 rows x 16 columns]

In [6]:
# 7. Count the number of unique countries in the dataset.
unique_countries = df["Country/Region"].nunique()
print(unique_countries)

187

In [7]:
# 8.Check if there are any duplicate country entries and remove them if needed.
duplicate_countries = df.duplicated(subset=['Country/Region']).sum()
print("Number of duplicate countries: ", duplicate_countries)

df = df.drop_duplicates(subset=['Country/Region'], keep='first')
print(df)

Number of duplicate countries:  0
     Unnamed:_0      Country/Region  Confirmed Deaths  Recovered  Active  \
0             0         Afghanistan      36263   1269      25198    9796
1             1             Albania       4880    144       2745    1991
2             2             Algeria      27973   1163      18837    7973
3             3             Andorra        907     52        803      52
4             4              Angola        950     41        242     667
..          ...                 ...        ...    ...        ...     ...
182         182  West Bank and Gaza      10621     78       3752    6791
183         183      Western Sahara         10      1          8       1
184         184               Yemen       1691    483        833     375
185         185              Zambia       4552    140       2815    1597
186         186            Zimbabwe       2704    non        542    2126

     New_cases  New_deaths  New_recovered  Deaths_/_100_Cases  \
0        106.0        10.0             18                3.50
1        117.0         6.0             63                2.95
2        616.0         8.0            749                4.16
3         10.0         0.0              0                5.73
4         18.0         1.0              0                4.32
..         ...         ...            ...                 ...
182      152.0         2.0              0                0.73
183        0.0         0.0              0               10.00
184       10.0         4.0             36               28.56
185       71.0         1.0            465                3.08
186      192.0         2.0             24                1.33

     Recovered_/_100_Cases  Deaths_/_100_Recovered  Confirmed_last_week  \
0                    69.49                    5.04                35526
1                    56.25                    5.25                 4171
2                    67.34                    6.17                23691
3                    88.53                    6.48                  884
4                    25.47                   16.94                  749
..                     ...                     ...                  ...
182                  35.33                    2.08                 8916
183                  80.00                   12.50                   10
184                  49.26                   57.98                 1619
185                  61.84                    4.97                 3326
186                  20.04                    6.64                 1713

     1_week_change  1_week_%_increase             WHO_Region
0              737               2.07  Eastern Mediterranean
1              709              17.00                 Europe
2             4282              18.07                 Africa
3               23               2.60                 Europe
4              201              26.84                 Africa
..             ...                ...                    ...
182           1705              19.12  Eastern Mediterranean
183              0               0.00                 Africa
184             72               4.45  Eastern Mediterranean
185           1226              36.86                 Africa
186            991              57.85                 Africa

[187 rows x 16 columns]

In [8]:
# 9. Find the mean, median, and standard deviation of total cases.
Total_Cases = df["New_cases"]
mean_cases = Total_Cases.mean()
median_cases = Total_Cases.median()
std_cases = Total_Cases.std()

print("Mean of Total Cases:", mean_cases)
print("Median of Total Cases:", median_cases)
print("Standard Deviation of Total Cases:", std_cases)

Mean of Total Cases: 1282.7401129943503
Median of Total Cases: 71.0
Standard Deviation of Total Cases: 5704.39558211317

In [9]:
# 10. Find out the string in Deaths Column and replace it with the mean of Deaths column.
df["Deaths"] = pd.to_numeric(df["Deaths"], errors="coerce")

mean_deaths = df["Deaths"].mean()

df.fillna({'Deaths': mean_deaths}, inplace=True)

print(df["Deaths"].head())

0    1269.0
1     144.0
2    1163.0
3      52.0
4      41.0
Name: Deaths, dtype: float64

In [10]:
# 11. Change the datatype of column Deaths
df["Deaths"] = pd.to_numeric(df["Deaths"], errors="coerce").astype("int")
print(df["Deaths"].dtype)

int32

In [11]:
# 12. Calculate total number of Death and Recovery all over the world
total_deaths = df["Deaths"].sum()
total_recovery = df["Recovered"].sum()

print("Total number of deaths: ", total_deaths)
print("Total number of recovered: ", total_recovery)

Total number of deaths:  657516
Total number of recovered:  9468087

In [12]:
# 13. How many countries have more than 1 million total cases

countries_above_million = Total_Cases > 1_000_000

num_countries = df['Country/Region'].nunique()

print("Number of Countries with more than 1 Million Cases: " , num_countries)

Number of Countries with more than 1 Million Cases:  187

In [13]:
# 14. Which countries have a recovery rate (Recovered / Total Cases) above 95%
df = Total_Cases > 0
recovery_Rate = (total_recovery / Total_Cases) * 100

high_recovery_countries = total_recovery > 95

print("Countries with a recovery rate above 95%:\n",high_recovery_countries.tolist())

Countries with a recovery rate above 95%:
 True

In [14]:
# 15. Drop columns name WHO Region and Confirmed
df = df.drop(columns = ["WHO Region" ,"Confirmed"])
print(df.head())

0    True
1    True
2    True
3    True
4    True
Name: New_cases, dtype: bool

In [ ]:
# 16. Find the Country with the Max Deaths
max_death_country = [df.loc['Deaths'].idxmax(), 'Country_Region']
print("Country with max deaths:", max_death_country)

In [ ]:
# 17. Sort Countries by Deaths (Descending Order)
df_sorted = df.sort_values(by="Deaths", ascending=False)

print(df_sorted[["Country/Region", "Deaths"]].head())

In [ ]:
# 18. Make new column name Total_cases that have a sum of Deaths, Recovered , Active
Total_Cases = df[['Deaths', 'Recovered', 'Active']].sum(axis=1)

In [ ]:
# 19. Calculate Death Rate
df['Death_Rate'] = (df['Deaths'] / df['Total_cases']) * 100

In [ ]:
# 20. Identify countries where total cases are increasing but death rates remain low
low_death_rate_countries = df[(df['Total_Cases'].diff() > 0) & (df['Death_Rate'] < 2)]
print("Countries with increasing cases but low death rates:", low_death_rate_countries['Country_Region'].tolist())

In [ ]:
# 21. print head of only 2 columns Country/Region and Death_Rate
print(df[['Country_Region', 'Death_Rate']].head())

In [ ]:
# 22. Create a scatter plot comparing total cases and total deaths.
plt.figure(figsize=(10, 6))
plt.scatter(df['Total_Cases'], df['Deaths'], alpha=0.5)
plt.xlabel("Total Cases")
plt.ylabel("Total Deaths")
plt.title("Total Cases vs. Total Deaths")
plt.show()

In [ ]:
# 23. Save dataset in CSV format.
df.to_csv("cleaned_data.csv")